/* Page Index */
#banniere{
    width:100%;
    margin-top:20px;
}
#banniere1{
    width:100%;
    position:absolute;
    top:0;
}
.banniereSM{
position:relative;
height:13rem;
}
.indexh1{
    z-index:1000;
    position:absolute;
    color:white;
    top:2rem;
    padding:0.5rem;
}
.indexh1 em{
    color:#FFC107;
    font-weight:bold;
    font-style: normal;
}
#conseils{
    margin-top:2rem;
    margin-bottom:2rem;
}
.card-deck{
    margin-top: 3.5em;
}
a:hover {
    text-decoration: none;
}
.presentation:hover {
    transform: scale(1.05);
}

/* Page Location */
.locationCard{
    margin-bottom:2rem;
}
.card_location{
    max-width:80%;
    margin:auto;
}
table{
    max-width:80%;
    margin:auto;
}
.carousel-inner img{
    border:6px double #F2F2F2;
    margin-top: 3rem;
}
#carouselExampleFade{
    max-width:70%;
    margin:auto;
}

/*Page velos */
#carouselVelosMassi{
    max-width:70%;
    margin: auto;
}
.vide{
    border:none; 
}
.marqueVelo{
    width:70%;
    margin:auto;
    padding-top:1rem;
}
.btnVelo{
    width:70%;
    margin:auto;
}
/* Page Atelier */
hr.securite {
    border-top: 1px solid #28A745;
    width:30%;
}
hr.standard {
    border-top: 1px solid #FFC107;
    width:30%;
}
hr.approfondi {
    border-top: 1px solid #007BFF;
    width:30%;
}
.card-footer{
    font-size: x-large;
    width: 45%;
    margin:auto;
    margin-bottom: 1rem;
}
.atelierDetail{
    margin-bottom: 1rem;
}
.titreAtelier{
    font-size: x-large;
}
.reparation {
    margin: auto;
}

/*Page Vente*/
.marques{
display:flex;
flex-wrap: wrap;
justify-content: center;
}
.marques img{
max-width:8rem;
max-height: 3rem;
margin:2rem 0.5rem 0rem 0.5rem;

}
/* Page Contact */
.map {
    margin: auto;
}
.map-container-5 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-container-5 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Footer */
.iconeReseaux{
    margin-left:4rem;
}
footer{
    margin-top:3rem;
}
.logoFooter {
    width: 13rem;
}
